* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 10px;
}

body {
    position: relative;
    width: 100%;
    min-height: 100vh;
    font-size: 1rem;
    font-family: arial, sans-serif;
}

.wrapper {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 50%;
    height: 40vh;
    background-color: coral;
    transition: .5s ease-in-out;
}

.btn {
    position: absolute;
    top: 30px;
    left: 30px;
    padding: 5px 20px;
    cursor: pointer;
}

.wrapper.disabled {
    width: 0;
    height: 0;
    visibility: hidden;
}